.chart__controls
  opacity: .75
  margin-top: 48px
  display: flex
  align-items: center
  justify-content: space-between
  background-color: #f5f5f5
  padding: 0 12px
  border-radius: 4px

.chart-control__label
  font-weight: bold
  
.chart-control__select
  border: 0
  padding: 4px
  background: none
  &:hover
    cursor: pointer

.chart-control__option.disabled
  opacity: .75