.charts-nav
  font-family: 'Antonio'
  font-size: 2rem
.charts-nav__item
  list-style: none
  text-transform: uppercase
  opacity: .5
  transition: opacity .2s ease
  margin-bottom: 12px
@media all and (min-width: 900px)
  .charts-nav__item
    display: inline
    margin: 0 12px
    
.charts-nav__item.active
  opacity: .75
.charts-nav__item:hover
  cursor: pointer 
  opacity: 1 
