svg
  overflow: visible

.chart
  margin: 12px 12px 12px 36px
@media all and (min-width: 900px)
  .chart
    margin: 24px
  

.chart__x,
.chart__y 
  stroke: black
  stroke-dasharray: 2 2
.chart__svg
  overflow: visible
  display: block
.chart__line,
.chart__line--compared
  fill: transparent
  stroke: rgba(black, .75)
.chart__line
  stroke-width: 1.25
.chart__line--compared
  stroke-dasharray: 2 2
  pointer-events: none
.chart text
  fill: black
  text-anchor: middle
.chart__label
  text-transform: uppercase
  font-family: 'Antonio', sans-serif
.tick text
  font-family: var(--font-text)
  stroke: transparent
  font-size: 1.2rem

.chart__value
  fill: #111

.chart__text
  margin-top: 4rem
  font-size: 2.5rem
  em
    font-weight: bold
    font-size: 2rem

.chart__chart--number
  font-family: 'Antonio'
  font-weight: bold
  font-size: 10rem

.big-text
  font-size: 2.75rem
  padding: 2rem

.big-text--map
  position: absolute
  left: 12px
  bottom: 12px
  max-width: 500px
  line-height: 1.1

.chart__line--aeroport
  stroke-dasharray: 2 2
.chart__line--au2
  stroke: #ff0000
.chart__line--au4
  stroke: #0000ff

.chart--panel .chart__chart--number
  margin: 24px 0
  position: relative
.chart--panel .chart__chart--number span
  min-width: 500px
  display: inline-block
  border: 1px solid
  border-radius: 4px
  background: #f5f5f5
.chart--panel .chart__chart--number .cursor
  position: absolute
  right: 64px
  bottom: 20px
.chart--panel .chart__chart--number *
  vertical-align: middle
.chart--panel button
  font-size: 3rem
  border: 2px solid
  margin-left: 24px

u.sin
  text-decoration: none
  border-bottom: 2px solid red
u.con
  text-decoration: none
  border-bottom: 2px solid blue
u.ae
  text-decoration: none
  border-bottom: 2px dotted
