.grid-one
  display: grid
  grid-gap: calc( 2 * var(--m) )
  grid-template-columns: minmax(0, 1fr)
.grid-three
  display: grid
  grid-gap: calc( var(--m) * 2 )
  @media all and (min-width: 900px)
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr)
  @media all and (min-width: 1400px)
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr)
.grid-four
  display: grid
  grid-gap: calc( var(--m) * 2 )
  grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr)