body.loading
  overflow: hidden
  .loader
    display: block
    
.loader
  display: none
  position: fixed
  left: 0
  top: 0
  right: 0
  bottom: 0
  background: white
  z-index: 10
  svg
    position: absolute
    left: 50%
    top: 50%
    transform: translate(-50%, -50%)