#map
  height: 100vh
  margin: 0
  padding: 0
  z-index: -1
  position: relative

#map .leaflet-div-icon
  border: 1px solid
  border-radius: 50%
  background: transparent !important
  padding: 3px !important
  border-color: white !important
.inner
  border-radius: 50%
  width: 12px
  height: 12px
  &.au2,
  &.blue
    background: blue
  &.au4,
  &.red
    background: red
  &.a,
  &.yellow
    background: yellow
  &.white
    background: white

#map path,
#mapse path
  fill: #111 !important
  fill-opacity: 1
  stroke: white
  stroke-width: 1px

.leaflet-container
  background: white !important

#mapse
  height: 700px
  background: transparent
  transform: scale(1.5)
  z-index: -2
  position: relative
  left: 200px
  top: 80px

.mapse-charts
  position: absolute
  left: 24px
  top: 24px

#mapse .leaflet-div-icon
  border: 0
  background: cyan !important
  border-radius: 50%
  opacity: .75
  mix-blend-mode: difference

.leaflet-popup-content-wrapper
  border-radius: 0 !important
.leaflet-popup-content
  margin: 4px !important
  font-size: 1.25rem  
  font-family: 'Butler'
  font-weight: bold
  text-align: center
.leaflet-popup-close-button
  display: none
  