
.presentation-intro
  position: relative
  top: 20vh
  text-align: center
  border: 2px solid
  width: 800px
  padding-top: 2.5rem
  margin: 0 auto
  background: #111
  color: white
  h1
    font-size: 5rem
    border-width: 0 0 8px 0
    border-bottom: 8px solid
    border-style: double
    width: 500px
    margin: 0 auto
  h2
    font-size: 3rem
    margin-top: 2.5rem
    font-weight: normal

.presentation__page
  height: 100vh
  border-bottom: 2px double
  position: relative