* 
  box-sizing: border-box

html
  margin: 0
  padding: 0
  font-size: 62.5%
  scroll-behavior: smooth

body
  overflow-x: hidden
  margin: 0
  padding: 0
  font-family: var(--font-text)
  font-size: var(--fontsize-default, 1.5rem)
  background-color: var(--color-bg)
  color: var(--color-text, #111)

body:not(.nopad)
  padding: 0 0 96px 0

h1, h2, h3, h4, h5
  font-family: var(--font-headers)

h1
  font-size: var(--fontsize-title, 2.5rem)
  line-height: var(--lineheight-title, 1.6)
h2
  font-size: var(--fontsize-subtitle, 2.25rem)
  line-height: var(--lineheight-subtitle, 1.6)
h3
  font-size: var(--fontsize-bigger, 2rem)
  line-height: var(--lineheight-bigger, 1.6)
h4
  font-size: var(--fontsize-big, 1.75rem)
  line-height: var(--lineheight-big, 1.6)
h5
  font-size: var(--fontsize-default, 1.5rem)
  line-height: var(--lineheight-default, 1.6)

h1, h2, h3, h4, h5
  margin-top: 0

a
  text-decoration: none

img, iframe
  max-width: 100%
  height: auto

::-webkit-scrollbar
  height: 24px
  width: 12px
  background: white

::-webkit-scrollbar-thumb
  background-color: #111

*
  scrollbar-color: #111 white
  scrollbar-width: thin

.hidden
  display: none