.region-content__header
  display: flex
  align-items: center
  justify-content: space-between
  position: relative
  z-index: 500

.region-content__header,
.region-content__content
  margin: calc( var(--m) / 2 )
  
.grid-two
  display: grid
  grid-template-columns: 50% 50%
  > div
    padding: 2rem

.grid-two-reverse
  display: grid
  grid-template-rows: 50% 50%
  > div
    padding: 2rem

.grid-three-reverse
  display: grid
  grid-template-rows: 33% 33% 33%
  > div
    padding: 2rem

.auto-v
  display: flex
  align-items: center
  justify-content: center

.centered
  text-align: center

.pad
  padding: 48px

.skewed
  max-width: 50vw

.skewed-left
  max-width: 50vw
  position: relative
  left: -400px