@font-face {
  font-family: "Antonio";
  src: url("./fonts/antonio/regular/Antonio-Regular.eot?") format("eot"), url("./fonts/antonio/regular/Antonio-Regular.woff") format("woff"), url("./fonts/antonio/regular/Antonio-Regular.ttf") format("truetype"), url("./fonts/antonio/regular/Antonio-Regular.svg") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "Antonio";
  src: url("./fonts/antonio/bold/Antonio-Bold.eot?") format("eot"), url("./fonts/antonio/bold/Antonio-Bold.woff") format("woff"), url("./fonts/antonio/bold/Antonio-Bold.ttf") format("truetype"), url("./fonts/antonio/bold/Antonio-Bold.svg") format("svg");
  font-weight: bold;
  font-style: normal; }
@font-face {
  font-family: "Butler";
  src: url("./fonts/Butler.woff2") format("woff2"), url("./fonts/Butler.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "Butler";
  src: url("./fonts/ButlerStencil-Bold.woff2") format("woff2"), url("./fonts/ButlerStencil-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal; }
:root {
  --font-text: "Butler", sans-serif;
  --font-headers: "Butler", sans-serif;
  --fontsize-small: 1rem;
  --fontsize-default: 1.2rem;
  --fontsize-big: 1.5rem;
  --fontsize-bigger: 1.75rem;
  --fontsize-subtitle: 2.25rem;
  --fontsize-title: 2.75rem;
  --color-text: black;
  --color-bg: white;
  --m: 24px;
  --height-header: 60px;
  --height-after-content: 148px;
  --height-footer: 48px; }
  @media all and (min-width: 1280px) {
    :root {
      --fontsize-small: 1.2rem;
      --fontsize-default: 1.4rem;
      --fontsize-big: 1.8rem;
      --fontsize-bigger: 2rem;
      --fontsize-subtitle: 2.8rem;
      --fontsize-title: 3.2rem; } }

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
 * ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS. */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/* Sections
 * ========================================================================== */
/**
 * Remove the margin in all browsers. */
body {
  margin: 0; }

/**
 * Render the `main` element consistently in IE. */
main {
  display: block; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari. */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Grouping content
 * ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE. */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers. */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Text-level semantics
 * ========================================================================== */
/**
 * Remove the gray background on active links in IE 10. */
a {
  background-color: transparent; }

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari. */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */ }

/**
 * Add the correct font weight in Chrome, Edge, and Safari. */
b, strong {
  font-weight: bolder; }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers. */
code, kbd, samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
 * Add the correct font size in all browsers. */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers. */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
 * ========================================================================== */
/**
 * Remove the border on images inside links in IE 10. */
img {
  border-style: none; }

/* Forms
 * ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari. */
button, input, optgroup, select, textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge. */
button, input {
  /* 1 */
  overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox. */
button, select {
  /* 1 */
  text-transform: none; }

/**
 * Correct the inability to style clickable types in iOS and Safari. */
button, [type="button"], [type="reset"], [type="submit"] {
  -webkit-appearance: button; }

/**
 * Remove the inner border and padding in Firefox. */
button::-moz-focus-inner, [type="button"]::-moz-focus-inner, [type="reset"]::-moz-focus-inner, [type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Restore the focus styles unset by the previous rule. */
button:-moz-focusring, [type="button"]:-moz-focusring, [type="reset"]:-moz-focusring, [type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * Correct the padding in Firefox. */
fieldset {
  padding: 0.35em 0.75em 0.625em; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers. */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera. */
progress {
  vertical-align: baseline; }

/**
 * Remove the default vertical scrollbar in IE 10+. */
textarea {
  overflow: auto; }

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10. */
[type="checkbox"], [type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome. */
[type="number"]::-webkit-inner-spin-button, [type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari. */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }
  [type="search"]::-webkit-search-decoration {
    -webkit-appearance: none; }

/**
 * Remove the inner padding in Chrome and Safari on macOS. */
/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari. */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/* Interactive
 * ========================================================================== */
/* Add the correct display in Edge, IE 10+, and Firefox. */
details {
  display: block; }

/* Add the correct display in all browsers. */
summary {
  display: list-item; }

/* Misc
 * ========================================================================== */
/**
 * Add the correct display in IE 10+. */
template, [hidden] {
  display: none; }

/**
 * Add the correct display in IE 10. */
* {
  box-sizing: border-box; }

html {
  margin: 0;
  padding: 0;
  font-size: 62.5%;
  scroll-behavior: smooth; }

body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  font-family: var(--font-text);
  font-size: var(--fontsize-default, 1.5rem);
  background-color: var(--color-bg);
  color: var(--color-text, #111); }

body:not(.nopad) {
  padding: 0 0 96px 0; }

h1, h2, h3, h4, h5 {
  font-family: var(--font-headers); }

h1 {
  font-size: var(--fontsize-title, 2.5rem);
  line-height: var(--lineheight-title, 1.6); }

h2 {
  font-size: var(--fontsize-subtitle, 2.25rem);
  line-height: var(--lineheight-subtitle, 1.6); }

h3 {
  font-size: var(--fontsize-bigger, 2rem);
  line-height: var(--lineheight-bigger, 1.6); }

h4 {
  font-size: var(--fontsize-big, 1.75rem);
  line-height: var(--lineheight-big, 1.6); }

h5 {
  font-size: var(--fontsize-default, 1.5rem);
  line-height: var(--lineheight-default, 1.6); }

h1, h2, h3, h4, h5 {
  margin-top: 0; }

a {
  text-decoration: none; }

img, iframe {
  max-width: 100%;
  height: auto; }

::-webkit-scrollbar {
  height: 24px;
  width: 12px;
  background: white; }

::-webkit-scrollbar-thumb {
  background-color: #111; }

* {
  scrollbar-color: #111 white;
  scrollbar-width: thin; }

.hidden {
  display: none; }

.region-content__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  z-index: 500; }

.region-content__header,
.region-content__content {
  margin: calc( var(--m) / 2 ); }

.grid-two {
  display: grid;
  grid-template-columns: 50% 50%; }
  .grid-two > div {
    padding: 2rem; }

.grid-two-reverse {
  display: grid;
  grid-template-rows: 50% 50%; }
  .grid-two-reverse > div {
    padding: 2rem; }

.grid-three-reverse {
  display: grid;
  grid-template-rows: 33% 33% 33%; }
  .grid-three-reverse > div {
    padding: 2rem; }

.auto-v {
  display: flex;
  align-items: center;
  justify-content: center; }

.centered {
  text-align: center; }

.pad {
  padding: 48px; }

.skewed {
  max-width: 50vw; }

.skewed-left {
  max-width: 50vw;
  position: relative;
  left: -400px; }

.chart__controls {
  opacity: 0.75;
  margin-top: 48px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f5f5f5;
  padding: 0 12px;
  border-radius: 4px; }

.chart-control__label {
  font-weight: bold; }

.chart-control__select {
  border: 0;
  padding: 4px;
  background: none; }
  .chart-control__select:hover {
    cursor: pointer; }

.chart-control__option.disabled {
  opacity: 0.75; }

.chartgroup {
  padding: 0; }

.chartgroup__label {
  text-transform: uppercase;
  margin-bottom: 0; }

@media all and (min-width: 900px) {
  .chartgroup__container {
    padding: 48px; } }
.charts-nav {
  font-family: "Antonio";
  font-size: 2rem; }

.charts-nav__item {
  list-style: none;
  text-transform: uppercase;
  opacity: 0.5;
  transition: opacity 0.2s ease;
  margin-bottom: 12px; }

@media all and (min-width: 900px) {
  .charts-nav__item {
    display: inline;
    margin: 0 12px; } }
.charts-nav__item.active {
  opacity: 0.75; }

.charts-nav__item:hover {
  cursor: pointer;
  opacity: 1; }

svg {
  overflow: visible; }

.chart {
  margin: 12px 12px 12px 36px; }

@media all and (min-width: 900px) {
  .chart {
    margin: 24px; } }
.chart__x,
.chart__y {
  stroke: black;
  stroke-dasharray: 2 2; }

.chart__svg {
  overflow: visible;
  display: block; }

.chart__line,
.chart__line--compared {
  fill: transparent;
  stroke: rgba(0, 0, 0, 0.75); }

.chart__line {
  stroke-width: 1.25; }

.chart__line--compared {
  stroke-dasharray: 2 2;
  pointer-events: none; }

.chart text {
  fill: black;
  text-anchor: middle; }

.chart__label {
  text-transform: uppercase;
  font-family: "Antonio", sans-serif; }

.tick text {
  font-family: var(--font-text);
  stroke: transparent;
  font-size: 1.2rem; }

.chart__value {
  fill: #111; }

.chart__text {
  margin-top: 4rem;
  font-size: 2.5rem; }
  .chart__text em {
    font-weight: bold;
    font-size: 2rem; }

.chart__chart--number {
  font-family: "Antonio";
  font-weight: bold;
  font-size: 10rem; }

.big-text {
  font-size: 2.75rem;
  padding: 2rem; }

.big-text--map {
  position: absolute;
  left: 12px;
  bottom: 12px;
  max-width: 500px;
  line-height: 1.1; }

.chart__line--aeroport {
  stroke-dasharray: 2 2; }

.chart__line--au2 {
  stroke: #ff0000; }

.chart__line--au4 {
  stroke: #0000ff; }

.chart--panel .chart__chart--number {
  margin: 24px 0;
  position: relative; }

.chart--panel .chart__chart--number span {
  min-width: 500px;
  display: inline-block;
  border: 1px solid;
  border-radius: 4px;
  background: #f5f5f5; }

.chart--panel .chart__chart--number .cursor {
  position: absolute;
  right: 64px;
  bottom: 20px; }

.chart--panel .chart__chart--number * {
  vertical-align: middle; }

.chart--panel button {
  font-size: 3rem;
  border: 2px solid;
  margin-left: 24px; }

u.sin {
  text-decoration: none;
  border-bottom: 2px solid red; }

u.con {
  text-decoration: none;
  border-bottom: 2px solid blue; }

u.ae {
  text-decoration: none;
  border-bottom: 2px dotted; }

.grid-one {
  display: grid;
  grid-gap: calc( 2 * var(--m) );
  grid-template-columns: minmax(0, 1fr); }

.grid-three {
  display: grid;
  grid-gap: calc( var(--m) * 2 ); }
  @media all and (min-width: 900px) {
    .grid-three {
      grid-template-columns: minmax(0, 1fr) minmax(0, 1fr); } }
  @media all and (min-width: 1400px) {
    .grid-three {
      grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr); } }

.grid-four {
  display: grid;
  grid-gap: calc( var(--m) * 2 );
  grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr); }

body.loading {
  overflow: hidden; }
  body.loading .loader {
    display: block; }

.loader {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: white;
  z-index: 10; }
  .loader svg {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); }

#map {
  height: 100vh;
  margin: 0;
  padding: 0;
  z-index: -1;
  position: relative; }

#map .leaflet-div-icon {
  border: 1px solid;
  border-radius: 50%;
  background: transparent !important;
  padding: 3px !important;
  border-color: white !important; }

.inner {
  border-radius: 50%;
  width: 12px;
  height: 12px; }
  .inner.au2, .inner.blue {
    background: blue; }
  .inner.au4, .inner.red {
    background: red; }
  .inner.a, .inner.yellow {
    background: yellow; }
  .inner.white {
    background: white; }

#map path,
#mapse path {
  fill: #111 !important;
  fill-opacity: 1;
  stroke: white;
  stroke-width: 1px; }

.leaflet-container {
  background: white !important; }

#mapse {
  height: 700px;
  background: transparent;
  transform: scale(1.5);
  z-index: -2;
  position: relative;
  left: 200px;
  top: 80px; }

.mapse-charts {
  position: absolute;
  left: 24px;
  top: 24px; }

#mapse .leaflet-div-icon {
  border: 0;
  background: cyan !important;
  border-radius: 50%;
  opacity: 0.75;
  mix-blend-mode: difference; }

.leaflet-popup-content-wrapper {
  border-radius: 0 !important; }

.leaflet-popup-content {
  margin: 4px !important;
  font-size: 1.25rem;
  font-family: "Butler";
  font-weight: bold;
  text-align: center; }

.leaflet-popup-close-button {
  display: none; }

.presentation-intro {
  position: relative;
  top: 20vh;
  text-align: center;
  border: 2px solid;
  width: 800px;
  padding-top: 2.5rem;
  margin: 0 auto;
  background: #111;
  color: white; }
  .presentation-intro h1 {
    font-size: 5rem;
    border-width: 0 0 8px 0;
    border-bottom: 8px solid;
    border-style: double;
    width: 500px;
    margin: 0 auto; }
  .presentation-intro h2 {
    font-size: 3rem;
    margin-top: 2.5rem;
    font-weight: normal; }

.presentation__page {
  height: 100vh;
  border-bottom: 2px double;
  position: relative; }

.site-messages {
  position: fixed;
  right: 0;
  top: 0; }

.title {
  text-transform: uppercase;
  margin-bottom: 0; }

.player {
  position: fixed;
  z-index: 11000;
  filter: invert(1);
  mix-blend-mode: difference; }

[data-on="pause"] [data-action="pause"] {
  display: none; }

[data-on="play"] [data-action="play"] {
  display: none; }

[data-action]:hover {
  cursor: pointer; }

/*# sourceMappingURL=style.css.map */
