// Variables

// Breakpoints

$breakpoint-sm: 600px
$breakpoint-md: 960px
$breakpoint-lg: 1280px
$breakpoint-xl: 1920px

// Fonts

// Default IC typographies

@font-face
  font-family: 'Antonio'
  src: url('./fonts/antonio/regular/Antonio-Regular.eot?') format('eot'), url('./fonts/antonio/regular/Antonio-Regular.woff') format('woff'), url('./fonts/antonio/regular/Antonio-Regular.ttf') format('truetype'), url('./fonts/antonio/regular/Antonio-Regular.svg') format('svg')
  font-weight: normal
  font-style: normal
@font-face
  font-family: 'Antonio'
  src: url('./fonts/antonio/bold/Antonio-Bold.eot?') format('eot'), url('./fonts/antonio/bold/Antonio-Bold.woff') format('woff'), url('./fonts/antonio/bold/Antonio-Bold.ttf') format('truetype'), url('./fonts/antonio/bold/Antonio-Bold.svg') format('svg')
  font-weight: bold
  font-style: normal
@font-face
  font-family: 'Butler'
  src: url('./fonts/Butler.woff2') format('woff2'), url('./fonts/Butler.woff') format('woff') 
  font-weight: normal
  font-style: normal
@font-face
  font-family: 'Butler'
  src: url('./fonts/ButlerStencil-Bold.woff2') format('woff2'), url('./fonts/ButlerStencil-Bold.woff') format('woff') 
  font-weight: bold
  font-style: normal
  
// Variables

\:root
  
  // Typography
  
  --font-text: 'Butler', sans-serif
  --font-headers: 'Butler', sans-serif
  --fontsize-small    : 1rem
  --fontsize-default  : 1.2rem
  --fontsize-big      : 1.5rem
  --fontsize-bigger   : 1.75rem
  --fontsize-subtitle : 2.25rem
  --fontsize-title    : 2.75rem
  @media all and (min-width: $breakpoint-lg) 
    --fontsize-small    : 1.2rem
    --fontsize-default  : 1.4rem
    --fontsize-big      : 1.8rem
    --fontsize-bigger   : 2rem
    --fontsize-subtitle : 2.8rem
    --fontsize-title    : 3.2rem
  
  // Colors
  --color-text: black
  --color-bg: white
  
  // Measures
  --m: 24px
  --height-header: 60px
  --height-after-content: 148px
  --height-footer: 48px

// Partials

@import base/*
@import components/*