{% load i18n static %}

<!DOCTYPE html>
<html class="no-js">
    <head>
        <meta charset="utf-8" />
        <title>
            {% block html_title %}Jardines en el aire{% endblock %} | Lorem ipsum
        </title>
        <meta name="description" content="{{ document_description }}" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        {# favicon #}
        {% block branding_favicon %}
            <link rel="shortcut icon" href="{% static 'jardines/img/favicon.ico' %}" />
        {% endblock %}

        {# Global stylesheets #}
        {% if debug_css %}
            <link rel="stylesheet" type="text/css" href="{% static 'jardines/css/style.css' %}">
        {% else %}
            <link rel="stylesheet" type="text/css" href="{% static 'jardines/css/style.min.css' %}">
        {% endif %}

        {# Override this in templates to add extra stylesheets and js #}
        {% block header_end %}{% endblock %}
    </head>

    <body class="{% block body_classes %}{% endblock %} {% if not request.user.is_anonymous %}logged-in{% endif %}">
        {# header #}
        <header class="region-header">
            <div class="region-messages">
                <ul class="site-messages">
                    {% for message in messages %}
                    <li class="site-message {% if message.tags %}site-message--{{ message.tags }}{% endif %}">
                        {{ message|safe }}
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </header>

        {# content #}
        <main class="region-content">
            {% block layout %}{% endblock %}
        </main>

        {% block footer_end %}
            {# Override this in templates to add extra javascript #}
        {% endblock %}
    </body>
</html>
