{% extends 'base.html' %} {% load static %}

{% block layout %}
<div class="region-content__header">
    <h1 class="title">
        <a href="/">
            Jardines en el Aire
        </a>
    </h1>
    <nav class="charts-nav">
        <ul class="charts-nav__items">
            <li class="charts-nav__item active" data-show="flowcharts">
                Líneas de riego
            </li>
            <li class="charts-nav__item" data-show="sensorcharts_temp">
                Temperatura
            </li>
            <li class="charts-nav__item" data-show="sensorcharts_hum">
                Humedad
            </li>
        </ul>
    </nav>
</div>
<div class="region-content__content grid-one">
    <div class="loader">
        <svg version="1.1" id="loader-1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
           width="40px" height="40px" viewBox="0 0 50 50" style="enable-background:new 0 0 50 50;" xml:space="preserve">
           <path fill="#000" d="M25.251,6.461c-10.318,0-18.683,8.365-18.683,18.683h4.068c0-8.071,6.543-14.615,14.615-14.615V6.461z">
              <animateTransform attributeType="xml"
              attributeName="transform"
              type="rotate"
              from="0 25 25"
              to="360 25 25"
              dur="0.6s"
              repeatCount="indefinite"/>
           </path>
        </svg>
    </div>
    <div class="chartgroup">
        <div id="flowcharts" class="chartgroup__container grid-three"></div>
    </div>
    <div class="chartgroup">
        <div id="sensorcharts_temp" class="chartgroup__container grid-three"></div>
    </div>
    <div class="chartgroup">
        <div id="sensorcharts_hum" class="chartgroup__container grid-three"></div>
    </div>
</div>
{% endblock %}

{% block footer_end %}
{% if debug_js %}
    <script src="{% static '/jardines/js/dist/charts.js' %}"></script>
    <script src="{% static '/jardines/js/dist/vendors~charts.js' %}"></script>
{% endif %}
{% endblock %}