{% extends 'base.html' %} {% load static %}

{% block body_classes %}nopad{% endblock %}

{% block header_end %}
    <link rel="stylesheet" href="{% static 'jardines/js/node_modules/leaflet/dist/leaflet.css' %}"></link>
{% endblock %}

{% block layout %}
<div class="player" data-on="pause">
    <img data-action="play" src="{% static 'jardines/img/feather/play-circle.svg' %}" />
    <img data-action="pause" src="{% static 'jardines/img/feather/pause.svg' %}" />
</div>
<div class="presentation" data-current="0">
    <div class="presentation__page page-0">
        <div class="presentation-intro">
            <h1>Jardines en el Aire</h1>
            <h2>Jardines Federados - t/ejido</h2>
        </div>
    </div>
    <div class="presentation__page centered auto-v">
        <div class="big-text skewed">
          <em>Jardines federados</em> es un experimento científico orientado a evaluar y visualizar los efectos 
          del jardín vertical a partir de una red de sensores que permiten medir el 
          nivel de reciclaje de agua, la eficiencia hídrica de riego o la mitigación 
          térmica.
          Los sensores de volumen, humedad y temperatura, se comunican por una red wifi 
          doméstica a un servidor que almacena los datos de manera regular. Una web 
          permite visualizar las lecturas e interacciones más importantes a través de 
          una interfaz gráfica. 
          Con esta tecnología no solo se permite controlar el riego de manera más eficiente, 
          sino también tomar conciencia a través de procesos de extrapolación y comparación 
          de las implicaciones de nuestro uso de los aires acondicionados a nivel hídrico 
          y climático. Una creación que esperamos expandir y democratizar próximamente 
          para que comience a replicarse por toda la ciudad. 
          En estas visualizaciones mostramos algunos de los datos obtenidos durante los 
          dos primeros meses de toma de datos.
        </div>
    </div>
    <div class="presentation__page grid-two page-1">
        <div class="left auto-v centered pad">
            <div class="chart">
                <svg class="chart__chart" id="chart--month"></svg>
                <p class="chart__text">
                    <em>fig.1</em> Evolución en agosto del agua aportada por aire 
                    acondicionado
                </p>
            </div>
        </div>
        <div class="right grid-three-reverse">
            <div class="cell auto-v centered">
                <div class="chart" id="aa-total">
                    <div class="chart__chart--number"></div>
                    <p class="chart__text">
                        <em>fig.2</em> Cantidad total de agua aportada por el aire
                        acondicionado en agosto
                    </p>
                </div>
            </div>
            <div class="cell auto-v centered">
                <div class="chart" id="aa0">
                    <div class="chart__chart--number"></div>
                    <p class="chart__text">
                        <em>fig.3</em> Precipitación aportada por aire acondicionado 
                        en agosto
                    </p>
                </div>
            </div>
            <div class="cell auto-v centered">
                <div class="chart" id="aa0_r0">
                    <div class="chart__chart--number"></div>
                    <p class="chart__text">
                      <em>fig.4</em> Porcentaje de aportación del caudal de aire acondicionado
                      al riego de las plantas en agosto
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="presentation__page grid-two page-2">
        <div class="left auto-v centered pad">
            <div class="chart">
                <svg class="chart__chart" id="chart-average--week"></svg>
                <p class="chart__text">
                    <em>fig.5</em> Evolución en la última semana de la humedad media 
                    en la tierra de las plantas
                </p>
            </div>
        </div>
        <div class="right grid-two-reverse">
            <div class="cell centered pad">
                <div class="chart chart--panel" id="au2_min">
                    <div class="chart__chart--number">
                        <img src="{% static '/jardines/img/feather/clock.svg' %}" /> 
                        <span>08:00 h</span>
                        <button>Update</button>
                    </div>
                    <div class="chart__chart--number">
                        <img src="{% static '/jardines/img/feather/watch.svg' %}" /> 
                        <span>cada 8 hrs.</span>
                        <button>Update</button>
                    </div>
                    <div class="chart__chart--number">
                        <img src="{% static '/jardines/img/feather/droplet.svg' %}" />
                        <span>0.5 litros</span>
                        <button>Update</button>
                        <img class="cursor" src="{% static '/jardines/img/feather/mouse-pointer.svg' %}" />
                    </div>
                    <p class="chart__text">
                        <em>fig.6</em> Panel de control de frecuencia de riego. En 
                        caso de que los sensores de humedad detecten que el suelo 
                        está húmedo no se realizará el riego. 
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="presentation__page page-3">
        <div id="map"></div>
        <div class="big-text big-text--map">
          En esta visualización se muestran ciudades del mundo cuya precipitación media
          en el último mes es equivalente a la hipotética precipitación en las aulas, 
          equivalente a la suma de la precipitación en el aeropuerto de Sevilla, más
          la hipotética resultante de considerar el agua recuperada entre la superficie
          de las aulas.
        </div>
    </div>
    <div class="presentation__page auto-v grid-two">
        <div class="left">
            <div class="big-text skewed">
              Según el Instituto Nacional de Estadística (2018), el 82.6% de los hogares sevillanos posee climatizadores. 
              Lo que significa que unos 215 000 aires acondicionados se replican por 
              la ciudad de manera indiferente a la tipología, densidad o estilo e incluso a la 
              composición y renta de la población que los habita. 
              La expansión en el uso de los aires acondicionados como dispositivos cotidianos 
              de refrigeración ha permitido adaptar los entornos habitados a altas 
              temperaturas, aunque su uso también conlleva una creciente emisión de gases 
              de efecto invernadero, un aumento del gasto energético, y paradójicamente, 
              un incremento de la temperatura urbana entre 1 y 2ºC. 
              Durante el proceso de refrigeración, cada uno de estos dispositivos 
              condensan a la hora entre 1 y 2 litros de que se vierten a la calle, 
              formando pequeños e improvisados charcos estivales. Extrapolando dichos datos 
              a un día caluroso de Sevilla, nos encontramos con que podríamos llenar diariamente 
              una piscina olímpica con todos los climatizadores de la ciudad. 
              Hablamos de casi 2 millones de litros de agua producidos por una multitud de 
              pequeñas precipitaciones domésticas.
              Un fenómeno infraordinario que se gesta en los serpentines interiores de 
              los aires acondicionados, alrededor de los cuales se condensa la humedad 
              del aire formando pequeñas gotas cuya composición química -ligeramente ácida- 
              no es apta para el consumo humano, pero sí es aprovechable para otros usos 
              como por ejemplo, el riego de ciertas especies botánicas. 
              Es por ello que estamos trabajando en expandir y democratizar esta 
              propuesta para que pueda replicarse por toda la ciudad… recolectando así, 
              el agua de estas precipitaciones estivales.
            </div>
        </div>
        <div class="right">
            <div class="cell auto-v centered">
                <div class="chart" id="aa-total">
                    <div class="chart__chart--number">
                    268 435
                    </div>
                    <p class="chart__text">
                        <em>fig.7</em> Número de viviendas principales en Sevilla
                    </p>
                </div>
            </div>
            <div class="cell auto-v centered">
                <div class="chart" id="aa0">
                    <div class="chart__chart--number">
                    82.6%
                    </div>
                    <p class="chart__text">
                        <em>fig.8</em> Porcentaje aproximado de viviendas con AA en Sevilla
                    </p>
                </div>
            </div>
            <div class="cell auto-v centered">
                <div class="chart" id="aa0_r0">
                    <div class="chart__chart--number">
                    221 727
                    </div>
                    <p class="chart__text">
                      <em>fig.9</em> Número aproximado de máquinas de AA en Sevilla
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="presentation__page">
        <div id="mapse"></div>
        <div class="mapse-charts">
            <div class="chart" id="na">
                <div class="chart__chart--number">
                  0
                </div>
                <p class="chart__text">
                    <em>fig.a</em> Número de jardines federados
                </p>
            </div>
            <div class="chart" id="na--rel">
                <div class="chart__chart--number">
                  0
                </div>
                <p class="chart__text">
                    <em>fig.b</em> Número relativo de aires adaptados respecto al total en Sevilla
                </p>
            </div>
            <div class="chart" id="la">
                <div class="chart__chart--number">
                  0
                </div>
                <p class="chart__text">
                    <em>fig.c</em> Litros de agua ahorrados por hora <br/>
                    (suponiendo un vertido medio de 1.5 litros la hora)
                </p>
            </div>
            <div class="chart" id="gi">
                <div class="chart__chart--number">
                  0
                </div>
                <p class="chart__text">
                    <em>fig.d</em> Cuántas Giraldas se podrían llenar en un mes con ese agua <br/> 
                    (con 12 horas diarias de funcionamiento)
                </p>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block footer_end %}
    <script src="{% static '/jardines/js/dist/water.js' %}"></script>
    <script src="{% static '/jardines/js/dist/vendors~water.js' %}"></script>
{% endblock %}