{% extends 'base.html' %} {% load static %}

{% block body_classes %}nopad{% endblock %}

{% block header_end %}
    <link rel="stylesheet" href="{% static 'jardines/js/node_modules/leaflet/dist/leaflet.css' %}"></link>
{% endblock %}

{% block layout %}
<div class="player" data-on="pause">
    <img data-action="play" src="{% static 'jardines/img/feather/play-circle.svg' %}" />
    <img data-action="pause" src="{% static 'jardines/img/feather/pause.svg' %}" />
</div>
<div class="presentation" data-current="0">
    <div class="presentation__page page-0">
        <div class="presentation-intro">
            <h1>Jardines en el Aire</h1>
            <h2>Jardines Federados - t/ejido</h2>
        </div>
    </div>
    <div class="presentation__page centered auto-v">
        <div class="big-text skewed">
          <em>Jardines federados</em> es un experimento científico orientado a evaluar y visualizar los efectos 
          del jardín vertical a partir de una red de sensores que permiten medir el 
          nivel de reciclaje de agua, la eficiencia hídrica de riego o la mitigación 
          térmica.
          Los sensores de volumen, humedad y temperatura, se comunican por una red wifi 
          doméstica a un servidor que almacena los datos de manera regular. Una web 
          permite visualizar las lecturas e interacciones más importantes a través de 
          una interfaz gráfica. 
          Con esta tecnología no solo se permite controlar el riego de manera más eficiente, 
          sino también tomar conciencia a través de procesos de extrapolación y comparación 
          de las implicaciones de nuestro uso de los aires acondicionados a nivel hídrico 
          y climático. Una creación que esperamos expandir y democratizar próximamente 
          para que comience a replicarse por toda la ciudad. 
          En estas visualizaciones mostramos algunos de los datos obtenidos durante los 
          dos primeros meses de toma de datos.
        </div>
    </div>
    <div class="presentation__page grid-two page-1">
        <div class="left auto-v centered pad">
            <div class="chart">
                <svg class="chart__chart" id="chart-average--month"></svg>
                <p class="chart__text">
                    <em>fig.1</em> Comparativa de las temperaturas del <u class="sin">aula sin jardín</u>, 
                    del <u class="con">aula con jardín</u> y en el <u class="ae">aeropuerto</u> (AEMET).
                </p>
            </div>
        </div>
        <div class="right grid-two-reverse">
            <div class="cell auto-v centered">
                <div class="chart" id="au2_au4">
                    <div class="chart__chart--number"></div>
                    <p class="chart__text">
                        <em>fig.2</em> Mitigación térmica del jardín. Diferencial 
                        entre la temperatura media del aula sin jardín y el aula con jardín.
                    </p>
                </div>
            </div>
            <div class="cell auto-v centered">
                <div class="chart" id="e0_ae">
                    <div class="chart__chart--number">-6%</div>
                    <p class="chart__text">
                      <em>fig.3</em> Ahorro energético provocado por esta estrategia
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="presentation__page grid-two page-2">
        <div class="left auto-v centered pad">
            <div class="chart">
                <svg class="chart__chart" id="chart-average--week"></svg>
                <p class="chart__text">
                    <em>fig.4</em> Comparativa de las temperaturas del <u class="sin">aula sin 
                    jardín</u>, del <u class="con">aula con jardín</u> y en el <u class="ae">aeropuerto</u> (AEMET).
                </p>
            </div>
        </div>
        <div class="right grid-two-reverse">
            <div class="cell auto-v centered pad">
                <div class="chart" id="au2_min">
                    <div class="chart__chart--number"></div>
                    <p class="chart__text">
                        <em>fig.5</em> Mitigación térmica de la ventilación. 
                        Diferencial entre la media de las mínimas y la media de las aulas.
                    </p>
                </div>
            </div>
            <div class="big-text">
              Los datos de los sensores arrojan la importancia de la ventilación 
              en la regulación térmica de nuestros interiores. Durante las 
              actividades educativas en la AES Candelaria, se abrían puertas y 
              ventanas, propiciando en la gráfica una súbita bajada de la temperatura 
              a esas horas. 
              Introducir estos comportamientos en nuestras prácticas cotidianas 
              no solo es refrescante sino fundamental.
            </div>
        </div>
    </div>
    <div class="presentation__page page-3">
        <div id="map"></div>
        <div class="big-text big-text--map">
            En esta visualización se muestran ciudades del mundo cuya temperatura media
            es equivalente a la de una de estas tres referencias: la temperatura exterior 
            de Sevilla (puntos rojos), temperatura de un aula (amarillos) y un aula con 
            aire acondicionado de 20º constante (azul). Se han usado medidas del 1 de agosto de 2021.
            Esta estrategia sirve para visualizar, casi en tiempo real, no solo el salto térmico 
            que producimos con nuestros climatizadores, sino también, especulativamente, 
            el salto geográfico. 
        </div>
    </div>
</div>

{% endblock %}

{% block footer_end %}
    <script src="{% static '/jardines/js/dist/temperature.js' %}"></script>
    <script src="{% static '/jardines/js/dist/vendors~temperature.js' %}"></script>
{% endblock %}