.player {
  position: fixed;
  z-index: 11000;
  filter: invert(1);
  mix-blend-mode: difference; }

[data-on="pause"] [data-action="pause"] {
  display: none; }

[data-on="play"] [data-action="play"] {
  display: none; }

[data-action]:hover {
  cursor: pointer; }

/*# sourceMappingURL=player.css.map */
